<% provide(:title, "Localização") %>
<div id="localizacao">
  <h1>Localização</h1>
  <p>A fazenda está localizada em Conselheiro Lafaiete bla bla bla</p>
  <h3>Instruções:</h2>
  <ul>
    <li>Pegue a estrada</li>
    <li>Vire na rua</li>
    <li>Siga 10km</li>
    <li>vire na casa vermelha</li>
    <li>Siga mais 2km e você chegou</li>
    <li>Siga mais 2km e você chegou</li>
    <li>Siga mais 2km e você chegou</li>
    <li>Siga mais 2km e você chegou</li>
  </ul>
  <h2>MAPA:</h2>
</div>
<div id="map_canvas"></div>
