<header>
  <div class="titulo">
    <span>FAZENDA</span>
  </div>
  <div class="navegacao">
    <ul>
      <li><%= link_to "Início", root_path %></li>
      <li><%= link_to "Localização", localizacao_path %></li>
      <li><%= link_to "Contato", contato_path %></li>
    </ul>
  </div>
</header>
